body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 19%;
    left: 13.5%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.weather-info {
    display: none;
    text-align: left;
}

.weather-info img {
    vertical-align: middle;
}

.weather-info div {
    margin-bottom: 10px;
}
